body{
  font-family: Arial;
  background:#f2f2f2;
  text-align:center;
}

h1{
  background:#2e7d32;
  color:white;
  padding:15px;
}

#newsList{
  width:90%;
  margin:auto;
}

.card{
  background:white;
  padding:15px;
  margin:10px;
  border-radius:8px;
  box-shadow:0 2px 5px gray;
}

button{
  padding:10px 15px;
  background:green;
  color:white;
  border:none;
  cursor:pointer;
}
