body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 30px;
 background-color: grey;    

}

h1 {
    color: #e91313;
}

input {
    padding: 6px;
    margin: 5px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
    border: none;
    background-color: #3498db;
    color: white;
}

button:hover {
    background-color: #2980b9;
}

#result {
    font-size: 18px;
    margin-top: 10px;
}
